body {
  margin: 0 0 0 0;
}

nav {
  color: black;
  background-color: white;
  height: 40px;
  width: 100%;
  border-bottom: 2px solid black;
  padding-top: 10px;
  padding-left: 5px;
}

a.logo {
  color: black;
  background-color: white;
}

.banner-container {
  height: 500px;
  width: 100%;
  background-color: #00CCFF;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("locust_walk.png");
  background-repeat: no-repeat;
}

.banner-headshot {
  padding-top: 10px;
  margin-top: 150px;
  width: 200px;
  display: inline-block;
  margin-left: 350px;
}

.banner-text {  
  color: white;
  font-size: 36px;
  margin-left: 0px;
  margin-bottom: 20px;
  padding-top: 170px;
  width: 300px;
  font-family: 'Slabo 27px', serif;
  display: inline-block;
  /*position: fixed;*/
}

.work-container {
  height: 550px;
  width: 100%;
  font-family: 'Slabo 27px', serif;
  background-color: #FFFFFF;
  border-bottom: 5px solid black;
}

.work-container h1, h3{
  text-align: center;
}

.work-item {
  display: block;
  float: left;
  width: 33%;
}

.work-item img {
  display: block;
  float: left;
}

.blog-container {
  height: 200px;
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 5px solid black;
}

.contact-container {
  height: 200px;
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 5px solid black;
}

.footer {
  height: 50px;
  width: 100%;
  background-color: #00CCFF;
}
/* OLD CSS */

a:link {
  color: black;
}

a:visited {
  color:black;
}

.photo {
  margin-left: 300px;
  float: left;
}

.project-photo {
  margin-left: 310px;
  margin-right: 10px;
  display: inline-block;
  float: left;
}

.spacing {
  width: 100%;
  height: 100px;
}

.project-desc {
  font-size: 20px;
  font-family: 'Slabo 27px', serif;
  width: 60%;
  margin-left: 310px;
/*  display: inline-block;
  margin-left: 10px;
  margin-top: 8px;  
*/  
text-align: justify;
}

.short-intro {
  font-size: 28px;
  font-family: 'Slabo 27px', serif;
  width: 40%;
  display: inline-block;
  margin-left: 10px;
  margin-top: 8px;
  text-align: justify;
}

.bio {
  font-size: 28px;
  font-family: 'Slabo 27px', serif;
  width: 100%;
  text-align: center;    
  display: inline-block;
}

.work-desc {
  font-size: 28px;
  font-family: 'Slabo 27px', serif;
  width: 52%;
  text-align: justify;    
  display: inline-block;
  margin-left: 290px;
}

.project {
  width: 80%;
/*  display: inline-block;
*/}

.name {
  font-family: 'Slabo 27px', serif;
  font-size: 60px;
  width: 100%;
  text-align: center;  
}

.heading {
  font-family: 'Slabo 27px', serif;
  font-size: 40px;
  width: 100%;
  text-align: center;  
}

.tagline {
  font-size: 16px;
  font-family: 'Slabo 27px', serif;
  width: 100%;
  text-align: center;  
}