body {
  margin: 0 0 0 0;
  font-family: 'Slabo 27px', serif;
}

a {
  text-decoration: none;
}

#project-link{
  color:white;
}

span#banner {
  position: fixed;
}

nav {
  color: black;
  background-color: white;
  height: 30px;
  width: 100%;
  border-bottom: 2px solid black;
  padding-top: 10px;
  margin-top: 5px;
  padding-left: 5px;
}

.nav-right {
  float:right;
  display: inline;
  margin-right: 30px;
}

nav ul {
  list-style: none;
  margin-left: 300px;
  width: 200px;
}

nav li {
  display: inline;
  height: 20px;
  width: 20px;
}

a.header-name {
  color: black;
  background-color: white;
  font-family: 'Slabo 27px', serif;
  text-decoration: none;
  padding-left: 10px;
}

.banner-container {
  height: 500px;
  width: 100%;
  /*background-color: #000000;*/
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("locust_walk.png");
  /*background-repeat: no-repeat;*/
}

.banner-headshot {
  padding-top: 10px;
  margin-top: 150px;
  /*width: 200px;*/
  display: inline-block;
  margin-left: 350px;
}

.banner-headshot img{
  vertical-align: bottom;
}

.banner-headshot span{  
  color: white;
  font-size: 36px;
  width: 300px;
  padding-top: 15px;
  margin-left: 30px;
/*  margin-left: 0px;
  margin-bottom: 20px;
  padding-top: 170px;
  width: 300px;
*/  font-family: 'Slabo 27px', serif;
  display: inline-block;
  /*position: fixed;*/
}

.work-container {
  height: 550px;
  width: 100%;
  font-family: 'Slabo 27px', serif;
  background-color: #FFFFFF;
  /*border-bottom: 2px solid black;*/
}

.work-container h1, h2, h3{
  text-align: center;
}

.work-item {
  display: block;
  float: left;
  width: 33%;
}

.work-item img {
  display: block;
  float: left;
}

.work-item img {
  display: block;
  float: left;
}

.project-writing{
  display: block;
  position: absolute;
  width: 344px;
  height: 344px;
  text-align: center;
  background: rgba(0,0,0,0.85);
  color: white;
  opacity: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

.project-writing:hover{
  opacity: 1;
}

/*#carla-text {
  width: 344px;
  height: 344px;
  z-index: 0;
}
*/
/*#carla-text:hover {
  z-index: 9999;
}
*/

/*#project-carla:hover{
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('CarlaScreenshot.png');;
}*/

/*img:hover {
  border: 5px solid black;
}
*/
.blog-container {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
/*  background-color: #D8D8D8;*/
  background-color: #F4F4F4;
  /*border-bottom: 2px solid black;*/
  text-align: center;
}

.blog-post-titles {
  font-family: 'Lato', sans-serif;
  font-style: italic;
}

.blog-container a{
  /*text-decoration: underline*/
}

.contact-container {
  width: 100%;
  background-color: #FFFFFF;
  /*border-bottom: 2px solid black;*/
  text-align: center;
}

.footer {
  padding-top: 5px;
  padding-bottom: 2px;
  text-align: center;
  display: block;
  vertical-align: baseline;
  font-family: 'Slabo 27px', serif;  
  background-color: #F4F4F4;
/*  color: white;
  background-color: black;*/
}

.footer ul {
  list-style: none;
  text-align: center;
  padding-right: 30px;
}

.footer li {
  display: inline;
  padding-right: 10px;
}

p#copyright {
  margin-bottom: 0px;
}

/* OLD CSS */

a:link {
  color: black;
}

a:visited {
  color:black;
}

.photo {
  margin-left: 300px;
  float: left;
}

.project-photo {
  margin-left: 310px;
  margin-right: 10px;
  display: inline-block;
  float: left;
}

.spacing {
  width: 100%;
  height: 100px;
}

.project-desc {
  font-size: 20px;
  font-family: 'Slabo 27px', serif;
  width: 60%;
  margin-left: 310px;
/*  display: inline-block;
  margin-left: 10px;
  margin-top: 8px;  
*/  
text-align: justify;
}

.short-intro {
  font-size: 28px;
  font-family: 'Slabo 27px', serif;
  width: 40%;
  display: inline-block;
  margin-left: 10px;
  margin-top: 8px;
  text-align: justify;
}

.bio {
  font-size: 28px;
  font-family: 'Slabo 27px', serif;
  width: 100%;
  text-align: center;    
  display: inline-block;
}

.work-desc {
  font-size: 28px;
  font-family: 'Slabo 27px', serif;
  width: 52%;
  text-align: justify;    
  display: inline-block;
  margin-left: 290px;
}

.project {
  width: 80%;
/*  display: inline-block;
*/}

.name {
  font-family: 'Slabo 27px', serif;
  font-size: 60px;
  width: 100%;
  text-align: center;  
}

.heading {
  font-family: 'Slabo 27px', serif;
  font-size: 40px;
  width: 100%;
  text-align: center;  
}

.tagline {
  font-size: 16px;
  font-family: 'Slabo 27px', serif;
  width: 100%;
  text-align: center;  
}